
@model NCSolution.DomainModel.Model.Question

<div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
    <h6 class="alert-heading text-semibold">Question @Model.QuestionId </h6>
    Main sidebar can be completely hidden. To use this option, just change button class to <code>.sidebar-main-hide</code> and main sidebar will be hidden on button click.
    <h3>@Model.QuestionContent</h3>
    <div style="height:300px;">

        <div class="form-group pt-15">
            <label class="text-semibold">Left stacked styled</label>
            
            <div class="radio">
                <label>
                    <div class="choice"><span class=""><input type="radio" name="stacked-radio-left" class="styled"></span></div>
                   bbb
                </label>
            </div>
            <div class="radio">
                <label>
                    <div class="choice"><span class=""><input type="radio" name="stacked-radio-left" class="styled"></span></div>
                    Unselected styled
                </label>
            </div>
            <div class="radio">
                <label>
                    <div class="choice"><span class=""><input type="radio" name="stacked-radio-left" class="styled"></span></div>
                    Unselected styled
                </label>
            </div>
        </div>


        <button type="submit" class="btn btn-primary legitRipple">Next <i class="icon-arrow-right14 position-right"></i></button>
    </div>
</div>
