
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_Layout.cshtml";
}

<!-- Info alert -->
<div class="alert alert-info alert-styled-left alert-arrow-left alert-component">
    <h6 class="alert-heading text-semibold">Ready To Exam</h6>
    <div style="height:300px;">
        @Html.ActionLink("GO", "Question", "Default")
    </div>
</div>
<!-- /info alert -->