@model NCSolution.DomainModel.Model.Question
@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Share/_Layout.cshtml";
}


<!-- Info alert -->
<div id="Update-section">

    @Html.Partial("_LoadQue")

</div>
<!-- /info alert -->
