
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_AdminLayout.cshtml";
}


<div class="panel panel-flat">
    <div class="panel-heading">
        <h3 class="panel-title">Exam</h3>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="reload"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        Add, Update, Delete, the exam and examChapter table data
    </div>

    <table class="table datatable-basic table-bordered table-hover" id="examTable">
        <thead>
            <tr>
                <th></th>
                <th class="text-center">Exam Name</th>
                <th class="text-center">Number of Qustions</th>
                <th class="text-center">Create Date</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
