
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_AdminLayout.cshtml";
}


<div class="panel panel-flat">
    <div class="panel-heading">
        <h3 class="panel-title">Exam</h3>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="reload"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        Add, Update, Delete, the exam and examChapter table data
    </div>


    <table id="example" class="table datatable-js" >
        <thead>
            <tr>
                <th>Engine</th>
                <th>Browser</th>
                <th>Platform</th>
                <th>Version</th>
                <th>Grade</th>
            </tr>
        </thead>
    </table>
</div>


<ul class="fab-menu" data-fab-toggle="click">
    <li>
        <a class="fab-menu-btn btn bg-blue btn-float btn-rounded btn-icon fab-menu fab-menu-fixed fab-menu-bottom-right ">
            <i class="fab-icon-open icon-plus3"></i>
            <i class="fab-icon-close icon-cross2"></i>
        </a>

        <ul class="fab-menu-inner">
            <li>
                <div data-fab-label="Compose email">
                    <a href="#" class="btn btn-default btn-rounded btn-icon btn-float">
                        <i class="icon-pencil"></i>
                    </a>
                </div>
            </li>
            <li>
                <div data-fab-label="Conversations">
                    <a href="#" class="btn btn-default btn-rounded btn-icon btn-float">
                        <i class="icon-bubbles7"></i>
                    </a>
                    <span class="badge bg-primary-400">5</span>
                </div>
            </li>
        </ul>
    </li>
</ul>
