
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_AdminLayout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Scripts/pages/exam.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    <script src="@Url.Content("~/assets/js/pages/datatables_data_sources.js")"></script>
}




<div class="panel panel-flat">
    <div class="panel-heading">
        <h3 class="panel-title">Exam</h3>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="reload"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        Add, Update, Delete, the exam and examChapter table data
    </div>


    <table class="table" id="GetExamDataTable">
        <thead>
        <tr>
            <th>ExamDescription</th>
            <th>CreateDate</th>
            <th>TotalQuestions</th>
        </tr>
        </thead>
    </table>
</div>


<div class="fab-menu">
    <div>
        <button class="fab-menu-btn btn bg-blue btn-float btn-rounded btn-icon fab-menu fab-menu-fixed fab-menu-bottom-right"  id="new-exam-fab">
            <i class="fab-icon-open icon-plus3"></i>
        </button>
    </div>
</div>
