
@{
    ViewBag.Title = "Add_New_Question";
    Layout = "~/Views/Share/_AdminLayout.cshtml";
}


<div class="alert alert-component" style="background-color:white">
    <h6 class="alert-heading text-semibold">Add A New Question </h6>
    <div style="min-height:300px; padding-left:10px;">

        <div class="form-group has-feedback has-feedback-left">
            @*<input type="text" class="form-control" placeholder="Question" name="question" required="required">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username", required = "required" })
            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>*@
            <textarea name="ss" placeholder="Question" class="form-control"></textarea>
            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" placeholder="Answer 1" name="answer1" required="required">
            
            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" placeholder="Answer 2" name="answer2" required="required">

            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" placeholder="Answer 3" name="answer3" required="required">

            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" placeholder="Answer 4" name="answer4" required="required">

            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" placeholder="Correct Answer" name="correctAnswer" required="required">

            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" placeholder="Answer 4" name="answer4" required="required">

            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
        </div>
        <button type="submit" class="btn btn-primary legitRipple pull-right">Next <i class="icon-arrow-right14 position-right"></i></button>
    </div>
</div>