
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_AdminLayout.cshtml";
}

<div class="alert alert-component" style="background-color:white">
    <h4 class="alert-heading text-semibold">Show Questions </h4>
    <div style="min-height:300px; ">

        <div class="row">
            <div class="col-md-3">

                <!-- Available hours -->
                <div class="panel text-center">
                    <div class="panel-body">
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li class="dropdown text-muted">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><i class="icon-sync"></i> Update data</a></li>
                                        <li><a href="#"><i class="icon-list-unordered"></i> Detailed log</a></li>
                                        <li><a href="#"><i class="icon-pie5"></i> Statistics</a></li>
                                        <li><a href="#"><i class="icon-cross3"></i> Clear list</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <!-- Progress counter -->
                        <div class="content-group-sm svg-center position-relative" id="hours-available-progress"></div>
                        <!-- /progress counter -->
                        <!-- Bars -->
                        <div id="hours-available-bars"></div>
                        <!-- /bars -->

                    </div>
                </div>
                <!-- /available hours -->

            </div>
        </div>

    </div>
</div>

