@model NCSolution.Models.RegisterUserVM
@using (@Html.BeginForm("Register", "User", FormMethod.Post))
{

    <script>
    $(document).ready(function(){
        $("#NIC").blur(function(){
            //$.post("@Url.Action("Register", "User")");
            //window.location.href = '@Url.Action("Register", "User", new { id = "w" })';
            var x = document.getElementById("NIC").id;
            AddToCart(x);
        });
    });
        function AddToCart(id) {
            $.ajax({
                url: '/User/Register',
                data: { id: id }
            }).done(function () {
                alert('Added');
            });
        }
    </script>
<div class="tab-pane fade in active " id="basic-tab2">
    <form action="http://demo.interface.club/limitless/layout_2/LTR/material/index.html">
        <div class="text-center">
            <div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
            <h5 class="content-group">Create new account <small class="display-block">All fields are required</small></h5>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            @*<input type="text" class="form-control" placeholder="Your NIC Number" maxlength="10">*@
            @Html.TextBoxFor(o => o.NIC, new { id="NIC", @class = "form-control", placeholder = "Your NIC Number", maxlength = "10" })
            <div class="form-control-feedback">
                <i class="icon-user-check text-muted"></i>
            </div>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" placeholder="Your username">
            <div class="form-control-feedback">
                <i class="icon-user-check text-muted"></i>
            </div>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            <input type="password" class="form-control" placeholder="Create password">
            <div class="form-control-feedback">
                <i class="icon-user-lock text-muted"></i>
            </div>
        </div>

        <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" placeholder="Your email">
            <div class="form-control-feedback">
                <i class="icon-mention text-muted"></i>
            </div>
        </div>

        <button type="submit" class="btn bg-indigo-400 btn-block">Register <i class="icon-circle-right2 position-right"></i></button>
    </form>
</div>
}