<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.interface.club/limitless/layout_2/LTR/material/login_tabbed.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Apr 2017 12:58:03 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script type="text/javascript" src="~/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/login.js"></script>

    <script type="text/javascript" src="~/assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>

<body class="login-container">

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content pb-20">

                    <!-- Tabbed form -->
                    <div class="tabbable panel login-form width-400">
                        <ul class="nav nav-tabs nav-justified">
                            <li id="log-li" class="active">
                                @Ajax.ActionLink("Login", "LogOrRegister", new { IsLogin = true },
                                new AjaxOptions()
                                {
                                    UpdateTargetId = "Update-section",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "Get",
                                    OnSuccess = "SwitchActiveTab(true)"
                                })
                            </li>
                            <li id="register-li">
                                @Ajax.ActionLink("Register", "LogOrRegister", new { IsLogin = false },
                                new AjaxOptions()
                                {
                                    UpdateTargetId = "Update-section",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "Get",
                                    OnSuccess = "SwitchActiveTab(false)"
                                })
                            </li>
                        </ul>

                        <div class="tab-content panel-body" id="Update-section">
                            
                            @Html.Partial("_Login")
                        </div>
                    </div>
                    <!-- /tabbed form -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
    <script>
        function SwitchActiveTab(type) {
            if (type) {
                document.getElementById("log-li").classList.add('active');
                document.getElementById("register-li").classList.remove('active');
            } else {
                document.getElementById("register-li").classList.add('active');
                document.getElementById("log-li").classList.remove('active');
            }
        }
    </script>

</body>

<!-- Mirrored from demo.interface.club/limitless/layout_2/LTR/material/login_tabbed.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 11 Apr 2017 12:58:03 GMT -->
</html>

